<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Password Reset</h1>
        <p>Dear {{ owner_name }},</p>
        <p>It seems you have forgotten your password. Please click <a href="{{ reset_url }}">Reset Password</a> to reset your password.</p>
        <p>Your password should have 8 or more characters with at least one uppercase letter, lowercase letter, number, and special character. Please note that this link will expire in 15 minutes.</p>
        <p>If you didn't request this reset, you can safely ignore this email.</p>
        <p>Do let us know if you face any problem in resetting your password.</p>
        <p class="footer">Best Regards,</p>
        <p class="footer">Your Company Name</p>
        <p class="footer">Contact us: support@example.com</p>
    </div>
</body>
</html>
