<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, {{ owner_name }}!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
    <div class="container">
        <h1>Welcome, {{ owner_name }}!</h1>
        <p>We're thrilled to have you on board as our administrator. Your role is pivotal in ensuring the smooth operation of our systems and services. As an admin, you have the power to make a positive impact on our organization, and we trust your expertise and dedication to help us achieve our goals.</p>
        <p>Please don't hesitate to reach out if you have any questions, need assistance, or have ideas to improve our processes. We're here to support you in any way we can.</p>
        <p>Thank you for taking on this important role, and we look forward to working together to achieve success.</p>
        <p>Best regards,<br>Health-Hub</p>
    </div>
</body>
</html>
