<!DOCTYPE html>
<html>
  <head>
    <title>Appointment Confirmation</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Appointment Confirmation</h1>

      <p>Dear Dr. {{ full_name }},</p>

      <p>
        We are pleased to confirm the upcoming appointment for {{ patient_name }}
        on {{ appointment_date }} at {{ appointment_time }}. The appointment
        details are as follows:
      </p>

      <ul>
        <li>Patient Name: {{ patient_name }}</li>
        <li>Patient Phone: {{ patient_contact_number }}</li>
        <li>Patient Email: {{ patient_email }}</li>
        <li>Appointment Date: {{ appointment_date }}</li>
        <li>Appointment Time: {{ appointment_time }}</li>
        <li>Location: {{ address }}</li>
      </ul>

      <p>
        Please ensure that you are prepared for the appointment. If you need to
        reschedule or have any questions regarding the appointment, please feel
        free to contact the patient at {{ patient_contact_number }} or {{ patient_email }}.
      </p>

      <p>
        We look forward to seeing you and providing you with a seamless and
        enjoyable experience. Thank you for choosing us for your healthcare
        services.
      </p>

      <p>Best regards,</p>
     
      <p class="footer">Best Regards,</p>
      <p class="footer">Your Company Name</p>
      <p class="footer">Contact us: support@example.com</p>
    </div>
  </body>
</html>
